@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    @apply mx-56 my-6 py-10 px-8 border border-slate-500/50 shadow-md rounded-sm;
}

@media print {
    @page {
        size: legal;
    }

    body * {
        visibility: hidden;
        margin: 2;
    }

    main {
        margin: 0;
        padding: 5;
        border: 0;
        width: 100%;
        background: none;
    }

    #printable-area,
    #printable-area * {
        visibility: visible;
    }
    #printable-area {
        position: absolute;
        left: 0;
        top: 0;
    }

    .avoid-break {
        page-break-inside: avoid;
    }
}
