@import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

label {
    @apply text-white;
}

input {
    @apply bg-white/70 backdrop-blur-sm w-full py-2 px-3 focus:outline-none focus:shadow-sm border border-gray-300 rounded-lg focus:border-slate-400 focus:outline-slate-400 focus:outline-1 duration-300;
}

select:not(.rating-select) {
    @apply block w-full bg-white/70 backdrop-blur-sm border border-gray-200 text-slate-700 py-2 px-3 rounded leading-tight focus:outline-none focus:bg-white/20 focus:border-slate-300;
}

.rating-select {
    @apply bg-transparent text-sm text-teal-800;
}
table {
    @apply w-full border border-slate-600 border-opacity-10 shadow-sm;
}

th,
td {
    @apply pl-3 py-2 text-left;
}

.option-label {
    @apply flex justify-start gap-x-3 items-center py-1 px-3 bg-emerald-500/70 hover:bg-emerald-500/30 duration-300 rounded-md shadow-sm cursor-pointer;
}

.option-label input {
    @apply cursor-pointer;
}

.data-row {
    @apply border-b border-neutral-300 text-white hover:bg-slate-100/20 whitespace-nowrap transition-all duration-300;
}

.btn {
    @apply bg-white rounded-md px-4 py-2 text-center font-medium text-slate-500 shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50 hover:scale-105 active:scale-95 duration-300;
}

.btn-remove {
    @apply bg-slate-800 rounded-md px-4 py-2 text-center font-medium text-white shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-700 hover:scale-105 active:scale-95 duration-300;
}

.btn-delete {
    @apply bg-rose-500 rounded-md px-4 py-2 text-center font-medium text-white shadow-sm ring-1 ring-slate-700/10 hover:bg-rose-500/70 hover:scale-105 active:scale-95 duration-300;
}

.btn-submit {
    @apply bg-teal-500 rounded-md px-4 py-2 text-center font-medium text-white shadow-sm ring-1 ring-slate-700/10 hover:bg-teal-500/70 hover:scale-105 active:scale-95 duration-300;
}

.btn-add {
    @apply bg-white rounded-md px-2 py-1 text-center font-medium text-slate-500 shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50 hover:scale-105 active:scale-95 duration-300;
}

.shift-table th {
    @apply text-center;
}

.time-style {
    @apply mx-auto w-fit py-1 px-3 rounded-md text-white font-medium;
    font-size: 0.65rem;
}

html {
    background-image: url("../../public/assets/back.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
}
